.faqQ {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    color: #204871
}
.faqA {
    padding-Left: 200px;
    padding-Right: 200px;
    color: #626062
}

.headStyle {
    padding-Top: 50px;
    text-Align: center;
    color: #204871
}